.imgPool {
  background-image: linear-gradient(
      rgba(21, 22, 24, 0.8),
      rgba(21, 22, 24, 0.8)
    ),
    url("../cover3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.staking-box {
  border: 1px solid #fd5043;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner {
  background-color: #000000;
  color: #ffff;
  border-radius: 25px;
  overflow-x: hidden;
}

.banner__content > h4 {
  font-size: 22px;
  font-weight: 700;
}

.banner__content p {
  font-size: 19px;
  font-weight: 600;
  text-align: left;
}

.banner__img img {
  width: 150px;
  object-fit: contain;
}

@media (min-width: 300px) and (max-width: 400px) {
  .banner__content h4 {
    font-size: 14px;
  }
  .banner__content p {
    font-size: 10px;
  }
  .banner__img img {
    width: 100px;
    border-radius: 10px;
  }
}
